<!DOCTYPE html>
<html>
<head>
  
 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<style>
.container {
border: 5px solid #B22222;
border-radius: 10px;
margin-top: 15px;
margin-bottom: 30px;
padding-bottom: 35px;
}


</style>
<script type="text/javascript"> 
        window.history.forward(); 
        function noBack() { 
            window.history.forward(); 
        } 
    </script> 

</head>
<body>
  <header>
 
    <div class="right_area">
      <a href="{{ url_for('MainPage') }}"  class="logout_btn">Logout</a>
    </div>
  </header>
<div class="container" >
  <form method="POST">
<!.....................row 1..............>
<center><h2 style="background-color:#05CAC9">Bulletin</h2>
  {% for row in bulletin_board %}
    <marquee behavior="scroll" direction="left" style="color:#FF0000";>{{row.0}}</marquee>
    {% endfor %}
</form>
    
    <br><br>
<center><h2 style="background-color:#05CAC9">My Details</h2>
<div class="row" style="padding:10px">
<div class="col-md">
<label>Name : </label><input type="text" id="name" value="{{name}}" readonly><br><br>
<label>PSID : </label><input type="text"  id="psid" value="{{id}}" readonly><br>
</div>

<div class="col-md">
  <label for="v1"> Special Request</label><br>
  {%for i in ch%}
  <input type="checkbox" id="expectmother" name="expectmother" value="vehicle">
  <label for="vehicle1"> Expecting Mother</label><br>
  {%endfor%}
  <input type="checkbox" id="specable" name="specable" value="vehicle1">
  <label for="vehicle2"> Specially Abled</label><br>
  </div>

  </div>
  <!..................row 2........................>
 

<!....form action="/action_page.php" onsubmit="return validateForm()" method="post"......>
<!.....................row 1..............>
<div class="row" style="padding:10px">


  <div class="col-md">
 

  </div>
  </div>
  <!..................row 2........................>
 
  <form method="post" >

    <center><h2 style="background-color:#05CAC9">Vehicle Details</h2>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <script>
      var messages = "{{ messages | safe }}";
      
        alert(messages);
      
    </script>
      {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
      <table border = "1" cellpadding = "2" cellspacing = "2">
        <tr>
        
          <th>PSID</th>
          <th>Name</th>
          <th>Vehicle Number</th>
          <th>Vehicle Make</th>
          <th>Vehicle Model</th>
          <th>Type</th>
          
          <th>Updated By</th>
        
        </td>
        </tr>
       <tr><tr>
        
        <td><input type="text" name="PSID" size="4" id="PSID" value="{{id}}" readonly  required></td>
        <td><input type="text" name="Name" size="10" id="fname" value="{{name}}" readonly  required></td>
        <td><select id="vehno1" name = "vehno1" >
          <option value="MH">MH</option>
          <option value="AN">AN</option>
          <option value="AP">AP</option>
          <option value="AR">AR</option>
          <option value="AS">AS</option>
          <option value="BR">BR</option>
          <option value="CH">CH</option>
          <option value="DN">DN</option>
          <option value="DD">DD</option>
          <option value="DL">DL</option>
          <option value="GA">GA</option>
          <option value="GJ">GJ</option>
          <option value="HR">HR</option>
          <option value="HP">HP</option>
          <option value="JK">JK</option>
          <option value="KA">KA</option>
          <option value="KL">KL</option>
          <option value="LD">LD</option>
          <option value="MP">MP</option>
          <option value="MN">MN</option>
          <option value="MZ">MZ</option>
          <option value="NL">NL</option>
          <option value="OR">OR</option>
          <option value="PY">PY</option>
          <option value="PN">PN</option>
          <option value="RJ">RJ</option>
          <option value="SK">SK</option>
          <option value="TN">TN</option>
          <option value="TR">TR</option>
          <option value="UP">UP</option>
          <option value="WB">WB</option>
         </select>
         <select id="vehno2" name = "vehno2" >
          <option value="01">01</option>
          <option value="02">02</option>
          <option value="03">03</option>
          <option value="04">04</option>
          <option value="05">05</option>
          <option value="06">06</option>
          <option value="07">07</option>
          <option value="08">08</option>
          <option value="09">09</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
          <option value="32">32</option>
          <option value="33">33</option>
          <option value="34">34</option>
          <option value="35">35</option>
          <option value="36">36</option>
          <option value="37">37</option>
          <option value="38">38</option>
          <option value="39">39</option>
          <option value="40">40</option>
          <option value="41">41</option>
          <option value="42">42</option>
          <option value="43">43</option>
          <option value="44">44</option>
          <option value="45">45</option>
          <option value="46">46</option>
          <option value="47">47</option>
          <option value="48">48</option>
          <option value="49">49</option>
          <option value="50">50</option>
           <option value="51">51</option>
          <option value="52">52</option>
          <option value="53">53</option>
          <option value="54">54</option>
          <option value="55">55</option>
          <option value="56">56</option>
          <option value="57">57</option>
          <option value="58">58</option>
          <option value="59">59</option>
          <option value="60">60</option>
          <option value="61">61</option>
          <option value="62">62</option>
          <option value="63">63</option>
          <option value="64">64</option>
          <option value="65">65</option>
          <option value="66">66</option>
          <option value="67">67</option>
          <option value="68">68</option>
          <option value="69">69</option>
          <option value="70">70</option>
          <option value="71">71</option>
          <option value="72">72</option>
          <option value="73">73</option>
          <option value="74">74</option>
          <option value="75">75</option>
          <option value="76">76</option>
          <option value="77">77</option>
          <option value="78">78</option>
          <option value="79">79</option>
          <option value="80">80</option>
          <option value="81">81</option>
          <option value="82">82</option>
          <option value="83">83</option>
          <option value="84">84</option>
          <option value="85">85</option>
          <option value="86">86</option>
          <option value="87">87</option>
          <option value="88">88</option>
          <option value="89">89</option>
          <option value="90">90</option>
          <option value="91">91</option>
          <option value="92">92</option>
          <option value="93">93</option>
          <option value="94">94</option>
          <option value="95">95</option>
          <option value="96">96</option>
          <option value="97">97</option>
          <option value="98">98</option>
          <option value="99">99</option>
         </select>
         <input type="text" name="vehno3" size="2" minlength=2 maxlength=2 onkeypress="javascript:return isCharacter(event)"  required>
         <input type="text" name="vehno4" size="4"  minlength=4 maxlength=4 onkeypress="javascript:return isNumber(event)" required>
         </td>

        <td><input type="text" name="CompanyName" size="10" id="Company_Name" required></td>
        <td><input type="text" name="Model" size="10" id="model" required></td>
        <td><select id="Typev" name = "Typev" >
          <option selected value="Four Wheeler">Four Wheeler</option>
          <option value="Two Wheeler">Two Wheeler</option>
         </select></td>
       
        
        <td><input type="text" name="UpdatedBy"  id="updated_by" value="{{name}}" readonly size="10"></td>
        
      </tr>
        
        </tr>
       </table>

      
       <br>

       <button  type="submit">Submit</button>
       <button type="reset">Reset</button>
       
       <a href="/EmployeePage/{{id}}/Y"><button type="button" class="add">Refresh</button></a>
       
       
          <br>
       <br>


       <center><h2 style="background-color:#05CAC9">Query Details</h2>
       <a href="/Message/{{id}}"><button type="button" class="add">Send Message</button></a>
       <br>
       <br>
       <table border = "1" cellpadding = "3" cellspacing = "3">  
       
       <tr>
         
         <td>RequestID</td>
         <td>Description</td>
         <td>Date</td>
         <td>Time</td>
         </tr>
       <tr>
       <td><input type="text" size="8" name="RequestID" id="RequestID" ></td>
       <td><input type="text" size="15" name="Description" id="query" ></td>
       <td><input type="text" size="8" name="date" id="date" ></td>
       <td><input type="text" size="8" name="time" id="time" ></td>         
       </tr>
       <tr>
       
       </tr>
       </table>
       <br>
            
           </center>
     
    </center>
    </form>
    

    <center><h2 style="background-color:#05CAC9"> Your Vehicle Details</h2>
    <br>
    <a href="/ModifyVehicalEmployee_Search/{{id}}"><button type="button" class="add">Update Vehicle Details</button></a>
   <br>
   <br>
    <table border = "1" cellpadding = "3" cellspacing = "1">
        <tr>
        
        <th>PSID</th>
        <th>Name</th>
        <th>Vehicle Number</th>
        <th>Vehicle Make</th>
        <th>Vehicle Model</th>
        <th>Vehicle Type</th>
        <th>Updated Time</th>
        <th>Updated By</th>
        
        </th>
        </tr>
        {% for row in vehical_details%}

       <tr><tr>
        
        <td>{{row.0}}</td>
        <td>{{row.1}}</td>
        <td>{{row.2}}</td>
        <td>{{row.3}}</td>
        <td>{{row.4}}</td>
        <td>{{row.5}}</td>
        <td>{{row.6}}</td>
        <td>{{row.7}}</td>
        
      </tr>
        
        </tr>
        {% endfor %}
       </table>

</center>

</body>

<script>
  
  function isNumber(evt) {
      var iKeyCode = (evt.which) ? evt.which : evt.keyCode
      if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
      {
      alert("Enter only Digit")
          return false;
  }
      return true;
  }    
</script>
<script>
  
  function isCharacter(evt) {
      var iKeyCode = (evt.which) ? evt.which : evt.keyCode
      if ( !(iKeyCode>64 && iKeyCode<91)) 
      {
      alert("Enter only Capital Alphabets")
          return false;
  }
      return true;
  }    
</script>

</html>