<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
   
   
<style>
.container {
margin-top: 15px;
margin-bottom: 30px;
padding-bottom: 35px;
}


</style>

</head>
<body>


    <!--header area start-->

    
    <div class="content"> 
<br>
<center><h1 style="background-color:#05CAC9">Re-Swipe Card</h1>
<div class="container">
  <!-- Content here -->




<form method="post" >

<center>

<table border = "1" cellpadding = "2" cellspacing = "0" >
<tr><tr>

 <td>PSID </td>

</tr></tr>

<tr><tr>
  
    <td><center><input type="text" name="PSID"></center></td>

</tr></tr>
	
</table>
<br>
<br>
</center>
<center><button  type="submit">Remove</button></center>
</form>

<br>

<br>

                     
  </div>

</body>
</html>