 <!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">

    <style>
      .container {
      margin-top: 15px;
      margin-bottom: 30px;
      padding-bottom: 35px;
      }
      </style>
      <script type="text/javascript"> 
        window.history.forward(); 
        function noBack() { 
            window.history.forward(); 
        } 
    </script> 

    <script>
    $('#subject').keyup(function() {
  var subject = $(this).val();
  console.log(subject);
});

    </script>
</head>

  <body>
    <input type="checkbox" id="check">
    <!--header area start-->
    <!--sidebar start-->
    <div class="sidebar">
      <div class="left_area">
        <h3>Admin</h3>
      </div>

<br>
<a href="/MyDetailsAdmin/{{id}}"><i class='fas fa-address-card'></i><span>My Details</span></a>
      <a href="/Dashboard/{{id}}"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
      <a href="/modify_location/{{id}}"><i class='far fa-edit'></i><span>Modify Location</span></a>
      <a href="/Report/{{id}}"><i class='fas fa-chart-bar'></i><span>Reports</span></a>
      <a href="/UpdateDetails/{{id}}"><i class='fas fa-sync-alt'></i><span>Update Details</span></a>
      <a href="/MessageCenter/{{id}}"><i class='far fa-envelope-open'></i><span>Message Centre</span></a>
        <a href="/Update_slots/{{id}}"><i class='far fa-envelope-open'></i><span>Update slots</span></a>
      <a href="/"><i class='fas fa-sign-out-alt'></i><span>Logout</span></a>
    </div>
    <!--sidebar end-->


<div class="content">   
  
    <form method="post" action="/Update_slots/{{id}}" >

      <center><h2 style="background-color:#05CAC9">Update slots</h2>
      <br>
        <table border = "1" cellpadding = "2" cellspacing = "0">
          <tr>
          
            <th>City</th>
            <th>Building</th>
            <th>Vehicle Type</th>
           
          </td>
          </tr>
         <tr><tr>
          
          <td><select id="City" name = "City" >
            <option value="Pune">Pune</option>
            <option value="Hyderabad">Hyderabad</option>
            </select></td>
          <td><input type="text" name="Building" size="10" id="Building"></td>
          <td><select id="VehicleType" name = "VehicleType" >
            <option value="Two Wheeler">Two Wheeler</option>
            <option value="Four Wheeler">Four Wheeler</option>
            <option value="Specially Abled Two Wheeler">Specially Abled Two Wheeler</option>
            <option value="Specially Abled Four Wheeler">Specially Abled Four Wheeler</option>
          </select></td>
      
        </tr>
          
          </tr>
         </table>
</center>
<br>
    <center><button  type="submit">Search</button></center>
  
   </form>
  <br>
   <center><td>Note: Only when you click Enable/Disable the changes in Messages are Saved</td></center>
   </br>
      <center><table border = "1" cellpadding = "2" cellspacing = "0"></center>
        <tr>
        
        <th>City</th>
        <th>Building</th>
        <th>Vehicle Type</th>
      
        <th>Slot Number</th>
        <th>Vehicle Number</th>
        <th>Action</th>
        <th>Message</th>
        <th>Enter New Message</th>
        </tr> 

        {% for row in vehical_entry%}
        <form method="post" action="/Update_slots/{{id}}" >
       <tr>

        <center><td>{{row.0}}</td></center>
        <center><td>{{row.1}}</td></center>
        <center><td>{{row.2}}</td></center>
      
        <center><td><input type="text" name="slot{{row.3}}" size=10 id="slot{{row.3}}" value={{row.3}} readonly></td></center>
        <center><td>{{row.4}}</td></center>
        
        
        
        <td><center>  <button formaction="/Update_slots1/{{id}}/{{row.0}}/{{row.1}}/{{row.2}}/{{row.3}}/{{row.5}}/subject{{row.3}}" type="submit">{{row.5}}</button>
       <td><center>{{row.6}}</center></td>
        <center><td><input type="text" name="subject{{row.3}}" size=16 id="subject{{row.3}}" value=></td></center>
        </td></center>
        
        </tr>
        {% endfor %}
       </table>
    </center>


  
</div>
</div>
 </form>
  

  </body>
</html>

